.wallet {
  display: flex;
  justify-content: center;
  .container {
    align-items: center;
    width: 50rem;
    margin-bottom: 10rem;

    .total-earning {
      padding: 2rem;
      p {
        color: var(--color-white);
        font-size: 2rem;

        span {
        }
      }
    }
  }
}
